.element__like {
  justify-self: end;
  margin: 30px 20px 30px 0;
  width: 22px;
  height: 19px;
  grid-row: 2/3;
  grid-column: 2/3;
  background-image: url(../../../images/svg/like.svg);
}

.element__like:hover {
  opacity: 50%;
}