.profile__edit-button {
  height: 24px;
  width: 24px;
  align-self: end;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__edit-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 660px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}