.profile__add-button {
  margin-left: auto;
  height: 46px;
  width: 146px;
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 660px) {
  .profile__add-button {
    margin-left: 0;
    width: 278px;
  }
}